
@{
    ViewData["Title"] = "Home Page";
    List<StudentskiDom.Data.Models.Drzava> lista = Model;
}


<div class="jumbotron">
    <h1>Studentski Dom</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dobrodošli! </h2>

        @*<table class="table table-hover">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var x in lista)
        {
            <tr>
                <td>@(x.Id)</td>
                <td>@(x.Naziv)</td>
                
            </tr>

}
            </tbody>
        </table>*@

        