
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a asp-area="RecepcionerModul" asp-controller="Home" asp-action="Index">Idi na RecepcionerModul</a> <br />
<a asp-area="StudentModul" asp-controller="Home" asp-action="Index">Idi na StudentModul</a>






