<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studentski Dom Mostar</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

	<link rel="stylesheet" href="~/simple-login-form/css/style.css">

</head>
<body>
	@RenderBody()



	<script src="~/simple-login-form/js/index.js"></script>
	@RenderSection("Scripts", required: false)

</body>
</html>
